﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <p>
        &nbsp;</p>
    <p align="center">
        <asp:Label ID="Label1" runat="server" Font-Size="XX-Large" 
            Text="Search Engine of ICS"></asp:Label>
    </p>
    <p align="center">
&nbsp;
        <asp:TextBox ID="TextBox1" runat="server" Height="27px" Width="498px"></asp:TextBox>
    </p>
    <p align="center">
        <asp:Button ID="Button1" runat="server" Font-Bold="True" Font-Size="Large" 
            Text="Search" Width="94px" onclick="Button1_Click" />
    </p>
    <p align="center">
        <asp:TextBox ID="TextBox3" runat="server" Height="475px" Width="729px" 
            TextMode="MultiLine"></asp:TextBox>
    </p>
    </form>
</body>
</html>
